<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-4">Sunday Market</h1>
      <p class="lead"> Browse the Sunday Market. Buy arts, sell arts, support your local artist. </p>
      <hr class="my-4">
      <p class="lead">
        <%= link_to "View Listings", listings_path, class:"btn btn-primary btn-lg" %>
        <%= link_to "Create Listing", new_listing_path, class:"btn btn-primary btn-lg" %>
      </p>
    </div>

    <div class="col-md-6">
      <%= image_tag "ceramic.jpg", class: "home-image" %>
    </div> 
  </div>
</div>