<h1> Make changes to your listing </h1>
<%# <%= form_with model: Listing.find(params[:id]) do |f| %>

<%= render "form", listing: @listing, conditions: @conditions, categories: @categories %>
<br>
<%= link_to "Delete Listing", @listing, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>

<%=link_to "Home", root_path%>